<%= render 'partials/banner' %>
<h1 class="text-center">Browse workouts</h1>
<%= render 'partials/workouts' %>
<div class="wrapper">
  <div class="container">
    <div class="cards"></div>
  </div>
</div>
<p>hello</p>