// Specific CSS for your home-page
.top-title {
 color: #FEDDA9;
 padding-bottom: 30px;
 font-weight: normal;
}

.index-wrapper {
  background-color: #F4E6D5;
  height: auto;
}

.index-map {
  height: 50vh;
}

