<div class="wrapper wrapper-darkblue">
  <div class="container">
    <h2 class="text-center top-title">Top workouts</h2>
    <div class="cards">
      <div class="container">
        <div class="row col-xs-12 col-sm-6 col-md-4">
          <%= render 'partials/category-card' %>
        </div>
        <div class="row col-xs-12 col-sm-6 col-md-4">
          <%= render 'partials/category-card' %>
        </div>
        <div class="row col-xs-12 col-sm-6 col-md-4">
          <%= render 'partials/category-card' %>
        </div>
        <!-- 12 cols of 1 column -->
      </div>
    </div>
  </div>
</div>
</div>
</div>