<div class="container">
  <div class="row">
    <% @workouts.each do |workout| %>
      <%= link_to workout_path(workout) do  %>
        <div class="col col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=asset_path 'placeholder.jpg'%>');">
            <div class="card-description">
              <h2 class="workout-name"><%= workout.name %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!-- create a card component in app/stylesheets/components, then import it -->