<!-- <% @workouts.each do |workout| %>
  <%= link_to workout_path(workout) do  %>
    <div class="col col-xs-12 col-sm-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <p class="card-location"><%= workout.location %></p>
        </div>
        <div class="card-footer">
          <%= workout.name %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %> -->