.banner {
  background-image: url('https://images.pexels.com/photos/1265610/pexels-photo-1265610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  height: 100vh;
  margin: 0px !important;
  padding: 0px !important;
}

.banner-title {
  font-size: 120px;
  color: white;
}
