.banner {
  background-image: url('https://images.pexels.com/photos/1265610/pexels-photo-1265610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  height: calc(100vh - 70px);
  margin: 0px !important;
  padding: 0px !important;
}

.banner-title {
  margin: 0px;
  font-size: 120px;
  color: white;
}
