.card {
    flex: 1 1 auto;
    margin: 10px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: #5A6173;
}

.card-body {
    height: 180px;
    background-size: cover;
    position: relative;
    background-color: white;
}

.card-location {
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-footer {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

