.card {
    flex: 1 1 auto;
    margin: 10px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card-body {
    height: 180px;
    background-size: cover;
    color: white;
    position: relative;
    background-color: white; //replace with an image
}

.card-footer {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
