* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

// body {
    // perspective: 1000px
// }

.card {
    width: 300px;
    height: 320px;
    margin: 50px auto;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out
}

.card:hover {
    transform: rotateY(180deg)
}

.card > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);;
    border-radius: 10px;
    border: 1px solid #CCC;
    font-family: Arial, Tahoma;
    text-align: center
}

.card .front {
    z-index: 2;
    backface-visibility: hidden
}

.card .front header {
    background-color: #828DA9;
    width: 100%;
    height: 80px;
    margin-bottom: 55px;
    border-radius: 10px 10px 0 0
}

.card .front #category {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    left: 97px;
    top: 19px;
}

.card .front #avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 19px;
    left: 89px;
    background-color: white;
}
.card .front h3 {
    margin-top: 25px;
    position: absolute;
    top: 60px;
    left: 15px;
}

.card .front p {
    margin: 0 auto;
    width: 90%;
    line-height: 1.7;
    position: absolute;
    bottom: 7px;
    left: -53px;
}

.card .front span {
    display: inline-block;
    margin-top: 5px;
    color: #60AC37;
    font-weight: bold
}

.card .back {
    color: white;
    text-shadow: none;
    z-index: 1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #F38B4C;
}

.card .back ul {
    padding: 0;
    list-style: none;
    line-height: 2
}
