.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
.container {
  max-width: 1000px;
  margin: 50px auto;
}
.cards {
  display: flex;
  justify-content: center;
}

.wrapper-darkblue {
  background-color: #828DAA;
}
