.user-show-banner {
  background-color: gray;
  height: 50vh;
  width: 100vw;
}

.nav-margin {
  height: 70px;
}

.user-show-wrapper {
  height: 100vh;
  background-color: #F4E6D5;
}

.video {
  height: 90vh;
}
